.DS_Store
node_modules
.npmrc

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
examples/*/yarn.lock

dist
package-lock.json
pnpm-lock.yaml

.eslintcache

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
